/* vim: set ai sw=4 ts=4 fdm=marker: */

/*
 * COLORS DEFINITION:
 *      - background -- #333
 *      - header (bg)-- #222
 *      - def. text  -- #bbb
 *      - link visit -- #bbb
 *      - code (bg)  -- #222
 *      - link text  -- #eec
 *      - borders    -- #eec
 *      - main title -- #fff
 *      - bold text  -- #fff
 *      - sub titles -- #666
 *
 */

/* Font definitions {{{ */
@font-face {
    font-family: archivo;
    src: url(/css/fonts/archivo.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: district;
    src: url(/css/fonts/district.otf);
    font-weight: normal;
    font-style: normal;
}
/* }}} */

/* Main blocks style {{{ */
body {
    background-color: #333;
    color: #bbb;
    padding: 0;
    margin: 0;
    font-family: district, sans-serif;
    font-size: 90%;
}

#wrapper {
    width:80%;
    max-width:800px;
    padding: 10px;
    margin:auto;
    margin-top: 28px;
}

hr {
    width: 40%;
    margin-left: 0;
    margin-top: 32px;
    border: 1px solid #222;
}

header {
    background-color: #222;
    padding: 10px;
}

footer {
    font-size:90%;
    text-align: center;
    margin: auto;
    width: 70%;
    max-width: 700px;
    border-top:1px solid #eec;
    padding: 10px;
}

article {
    margin: 0;
    padding-left: 20px;
}

#blank {
    height: 100%;
    padding:10px;
}
/* }}} */

/* Titles and headers {{{ */
h1, h2, h3, h4, h5, h6 {
    font-family: archivo, sans-serif;
}

h1, h3 {
    color: #fff;
    display: inline;
    text-shadow: 2px 2px 4px #000;
}

h2 {
    color: #666;
    display: inline;
    font-weight: normal;
    font-size: 120%;
}

header h1 {
    font-size: 200%;
    font-style: italic;
    margin-right: 8px;
}

section h1 {
    font-size: 170%;
}

section h3 {
    display: block;
    font-size:150%;
}

/* }}} */

/* Pretty links {{{ */
a {
    color: #eec;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: line-through;
}

header h1 a {
    color: white;
}

header h1 a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 2px white;
}
/* }}} */

/* Tables {{{ */
table {
    border-collapse: collapse;
    border: 1px solid #222;
    margin-top:8px;
    margin-bottom:8px;
}

table td, table th {
    padding:4px;
}

td {
    border: 1px solid #222;
}

th {
    background-color: #222;
    color: #fff;
    font-weight: normal;
}
/* }}} */

/* Coding style (<code>) {{{ */
code {
    color: inherit;
    font-family: monospace;
    font-size: 90%;
}

pre {
    color: inherit;
    background-color: #222;
    font:inherit;
    font-size:inherit;
    padding: 10px;
    border-radius: 10px;
    margin-top: 4px;
    max-height:200px;
    overflow:auto;
}

pre hr {
    width: 100%;
    margin: 0;
    margin-top: 4px;
    border: 1px dashed #222;
}
/* }}} */

/* Text Formatting {{{ */
strong {
    color: #fff;
    font-weight: normal;
}

em {
    font-style: italic;
    text-decoration: underline;
}

blockquote, q {
    color: #666;
    font-style: italic;
}

blockquote {
    border-left: 8px solid #eec;
    padding-left: 8px;
}

.smiley {
    font-style: normal;
    font-family: sans-serif;
    font-size: 80%;
    padding-left:2px;
    padding-right:2px;
    :order: 1px solid #bbb;
    border-radius: 6px;
    transform: rotate(90deg);
}
/* }}} */

/* Images and associated text {{{ */

img {
    width:30%;
    vertical-align: top;
    display: inline-block;
    box-shadow: 0px 0px 10px #222;
    border-radius: 4px;
    margin:auto;
    margin-top: 8px;
}

img.a_img:hover {
    box-shadow: 0px 0px 10px #fff;
}

a.a_img:hover {
    text-decoration: none;
}

/* Comment images - use with <span> or <div> */
.caption {
    width:40%;
    font-style: italic;
    font-size: 80%;
    display: inline-block;
    margin-left:20px;
    margin-top:30px;
}
/* }}} */
