/* vim: set ai sw=4 ts=4 fdm=marker: */

/*
 * Optimization for mobile phones
 *
 * Every rule here will override rules of the main CSS
 *
 */

/* Overall style {{{ */
body {
    font-size: 70%;
}

#wrapper {
    margin: auto;
}

section h2 {
    display: inline;
}
/* }}} */

/* Links {{{ */
a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
/* }}} */

/* Images {{{ */

img {
    width:60%;
}

/* Comment images - use with <span> or <div> */
.caption {
    width:30%;
}
/* }}} */
