    <!-- footer {{{ -->
    <footer>
      &copy; 2013 wtfpl &mdash; <a href='http://www.wtfpl.net/about/'>do what the fuck you want to public license</a>
      &mdash; contact : &lt;<a href='mailto:willy@mailoo.org'>willy at mailoo dot org</a>&gt;
    </footer>
    <!-- }}} -->
  </body>
</html>
<!-- vim: set sw=2 et ai fdm=marker: -->
