    <div id='blank'></div>
    <footer>
      &copy; 2013 WTFPL &mdash; <a href='http://www.wtfpl.net/about/'>Do What the Fuck You Want to Public License</a>
      &mdash; contact : &lt;<a href='mailto:willy@mailoo.org'>willy at mailoo dot org</a>&gt;
    </footer>
  </body>
</html>
<!-- vim: set sw=2 et ai fdm=marker: -->
