    <!-- footer {{{ -->
    <footer>
      <a href='http://www.acme.com/software/thttpd/'>thttpd &hearts;</a> //
      <a href='http://www.wtfpl.net/about/'>wtfpl &copy;</a> //
      <a href='mailto:willy@mailoo.org'>contact &#9993;</a> //
      <a href='http://git.z3bra.org'>tools &#9874;</a> //
      <a href='http://blog.z3bra.org/rss/feed.xml'>rss &#9733;</a>
    </footer>
    <!-- }}} -->
  </body>
</html>
<!-- vim: set sw=2 et ai fdm=marker: -->
