    <!-- footer {{{ -->
    <footer>
      <a href='http://www.acme.com/software/thttpd/'>thttpd</a> <!-- &hearts; -->//
      <a href='http://www.wtfpl.net/about/'>wtfpl</a> <!-- &copy; -->//
      <a href='mailto:willy@mailoo.org'>mail</a> <!-- &#9993; -->//
      <a href='http://z3bra.org'>root</a> <!-- &#9774; -->//
      <a href='http://blog.z3bra.org/rss/feed.xml'>rss</a> <!-- &#9733; -->
    </footer>
    <!-- }}} -->
  </body>
</html>
<!-- vim: set sw=2 et ai fdm=marker ft=html: -->
